{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container container-header">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="sliderIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#sliderIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#sliderIndicators" data-slide-to="1"></li>
                    <li data-target="#sliderIndicators" data-slide-to="2"></li>
                    <li data-target="#sliderIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-img d-block w-100" src="/media/pexels-curtis-adams-10827379.jpg" alt="#">
                        <div class="carousel-caption text-green mb-5 d-none d-md-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="/media/pexels-level-media-3016430.jpg" alt="#">
                        <div class="carousel-caption text-green mb-5 d-none d-md-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="/media/pexels-mark-mccammon-2724749.jpg" alt="#">
                        <div class="carousel-caption text-green mb-5 d-none d-md-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="/media/pexels-saviesa-home-2089698.jpg" alt="#">
                        <div class="carousel-caption text-green mb-5 d-none d-md-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum...</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#sliderIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#sliderIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 my-3 py-3">
            <h1 class="text-dark-green my-2">Experienced carpenter</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo quidem explicabo quos possimus
                libero, aspernatur aut nulla maiores consequuntur impedit eveniet dicta. Voluptatem mollitia odit iusto
                excepturi nulla a?</p>
        </div>
    </div>
</div>
<div class="container-fluid py-3 bg-light-green">
    <div class="row col-md-10 offset-md-1 mx-auto">
        <div class="col-md-6 col-lg-3 my-3 py-3 text-center">
            <a href="#" class="custom-link">
                <img class="custom-img" src="/media/pexels-curtis-adams-3935316.jpg" alt="#">
                <h4 class="custom-link text-dark-green text-uppercase my-2">Floors</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 my-3 py-3 text-center">
            <a href="#" class="custom-link">
                <img class="custom-img" src="/media/pexels-saviesa-home-2089698.jpg" alt="#">
                <h4 class="custom-link text-dark-green text-uppercase my-2">Kitchens</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 my-3 py-3 text-center">
            <a href="#" class="custom-link">
                <img class="custom-img" src="/media/door-ge0eb092df_1280.jpg" alt="#">
                <h4 class="custom-link text-dark-green text-uppercase my-2">Doors</h4>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 my-3 py-3 text-center">
            <a href="#" class="custom-link">
                <img class="custom-img" src="/media/istockphoto-520984710-612x612.jpg" alt="#">
                <h4 class="text-dark-green text-uppercase my-2">Bespoke</h4>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 my-2 py-2">
            <h2 class="text-dark-green my-2">Contact us today</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo quidem explicabo quos possimus
                libero, aspernatur aut nulla maiores consequuntur impedit eveniet dicta. Voluptatem mollitia odit iusto
                excepturi nulla a?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 d-lg-flex">
            <div class="col-12 col-lg-4 text-center">
                <h4>
                    <a href="#" class="contact-button btn btn-lg py-2">Email</a>
                </h4>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <h4>
                    <a href="#" class="contact-button btn btn-lg py-2">Phone</a>
                </h4>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <h4>
                    <a href="#" class="contact-button btn btn-lg py-2">Requests</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}