html {
    height: 100%;
}

.carousel-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font:hover {
    color: rgb(25, 120, 25) !important;
}

.carousel-caption {
    background-color: rgba(233, 212, 212, 0.77);
}

.text-green {
    color: rgb(25, 120, 25) !important;
}

.text-dark-green {
    color: rgb(9, 60, 9) !important;
}

.bg-light-green {
    background-color: rgb(200, 242, 200) !important;
}

.menu-sub {
    width: 100%;
}

.border-green {
    border: 1px solid rgb(25, 120, 25) !important;
}

.dropdown-img {
    height: 20vh;
    width: 20vw;
    object-fit: cover;
    object-position: center;
}

.custom-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.custom-link:hover {
    color: rgb(9, 60, 9) !important;
}

.contact-button {
    background: rgb(9, 60, 9) !important;
    color: #fff;
    width: 200px;
    border-radius: 10px;
}

.contact-button:hover {
    background: #fff;
    color: rgb(9, 60, 9) !important;
}

/* Products page */
.overlay {
    min-height: 150px;
    width: 100%;
    background-color: rgb(9, 60, 9);
    color: #fff;
    overflow: hidden;
}

.product-container {
    height: 350px;
    width: 100%;
}

.product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.description-conainer {
    text-align: justify;
}

.product-divider {
    border-bottom: 1px solid rgb(25, 120, 25) !important;
    width: 75%;
}

/* -------------------------------- Media Queries */

/* Large screens ----------- */
@media (min-width : 1500px) {
    .container-xl-screen {
        width: 80%;
    }
  
}

/* Extra Large screens ----------- */
@media (min-width : 1700px) {
    .container-xl-screen {
        width: 70%;
    }
  
}

/* Extra Extra Large screens ----------- */
@media (min-width : 2000px) {
    .container-xl-screen {
        width: 60%;
    }
  
}

/* only on medium and down */
@media (max-width: 992px) {
    .mobile-bg-color {
        background-color: rgb(200, 242, 200) !important;
    }
  }

/* only on medium and down */
@media (max-width: 768px) {
    .description-conainer {
        width: 80%;
        margin: auto;
    }
  }