<div id="main-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav w-100 d-none d-lg-block">
        <li class="nav-item col-2 offset-2 text-center list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Floors <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu my-2" aria-labelledby="all-products-link">
                <div class="py-2">
                    <a href="" class="dropdown-item">
                        <img class="dropdown-img" src="/media/pexels-curtis-adams-3935316.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Laminate</strong></p>
                    </a>
                </div>
                <div class="py-2">
                    <a href="" class="dropdown-item ">
                        <img class="dropdown-img" src="/media/pexels-selenic-moon-3767442.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Solid</strong></p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item col-2 text-center list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchens <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu my-2" aria-labelledby="all-products-link">
                <div class="py-2">
                    <a href="" class="dropdown-item">
                        <img class="dropdown-img" src="/media/pexels-mark-mccammon-2724749.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Traditional</strong></p>
                    </a>
                </div>
                <div class="py-2">
                    <a href="" class="dropdown-item ">
                        <img class="dropdown-img" src="/media/pexels-level-media-3016430.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Modern</strong></p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item col-2 text-center list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Doors <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu my-2" aria-labelledby="all-products-link">
                <div class="py-2">
                    <a href="" class="dropdown-item">
                        <img class="dropdown-img" src="/media/door-ge0eb092df_1280.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Models</strong></p>
                    </a>
                </div>
                <div class="py-2">
                    <a href="" class="dropdown-item ">
                        <img class="dropdown-img" src="/media/door-3059871__340.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Finishes</strong></p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item col-2 text-center list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bespoke <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu my-2" aria-labelledby="all-products-link">
                <div class="py-2">
                    <a href="" class="dropdown-item">
                        <img class="dropdown-img" src="/media/istockphoto-520984710-612x612.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Radiator Covers</strong></p>
                    </a>
                </div>
                <div class="py-2">
                    <a href="" class="dropdown-item">
                        <img class="dropdown-img" src="/media/pexels-pavel-danilyuk-7055960.jpg" alt="#">
                        <p class="text-center text-green my-1"><strong>Hidden Shelves</strong></p>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown d-lg-none">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
        </li>
    </ul>

    <ul class="navbar-nav d-lg-none">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Floors <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Laminate</a>
                <a href="" class="dropdown-item ">Solid</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchens <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Traditional</a>
                <a href="" class="dropdown-item ">Modern</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Doors <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Models</a>
                <a href="" class="dropdown-item ">Finishes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bespoke <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Radiator Covers</a>
                <a href="" class="dropdown-item ">Hidden Shelves</a>
            </div>
        </li>
        <li class="nav-item dropdown d-lg-none">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
        </li>
    </ul>
</div>

